WEBUI_AUTH=True
ENABLE_SIGNUP=True
ENABLE_OLLAMA_API=False
ENABLE_WEBSOCKET_SUPPORT=True
WEBSOCKET_MANAGER=redis
DATA_DIR=/app/backend/data
DATABASE_URL=${{Postgres.DATABASE_URL}}
REDIS_URL=${{Redis.REDIS_URL}}
WEBSOCKET_REDIS_URL=${{Redis.REDIS_URL}}
WEBUI_SECRET_KEY=
OAUTH_SESSION_TOKEN_ENCRYPTION_KEY=
